<!DOCTYPE HTML>
<html xmlns:form="http://www.w3.org/1999/html" xmlns:spring="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>Test page</title>

    </head>
    <body>
  <h1> #test </h1>
  <h1>你好$name</h1>
    #test
        $math.add(1, 3)
    #set($people="小小大大")
    <h3>$people</h3>
    #set($myList=[1,3,2,4,56,7,323])
   <ul>
    #foreach($value in $myList)
        <li>$value</li>
    #end
   </ul>
    <h1>$user.name</h1>
    <h2>$user.age</h2>
    <h3>$user.money</h3><hr>
    <h1>引入：</h1>
    #include("abc.txt")
<h2> $name</h2>
    #parse("test.vm")
    $name
    <hr>
      #set($max=2)
      #set($min=4)
    $max=$max+$min
    <br>
    条件：
    #foreach($value in $myList)
        #if($value>3)
            <span>大于3</span><hr>
        #end
    #end
    #set($flag=true)
    #if($flag)
        <small>true的</small>
    #end
    #set($a=false)
    #if(!$a)
        $a
    #end
    #if($a)
        你好
        #else
        你妹啊
    #end
    #foreach($item in [1..10])
        <h4>$item</h4>
    #end
    <hr/>
  <ol>
      #foreach($value in $myMap.keySet())
        <li>$value</li>
    #end
  </ol>
    <ul>
        #foreach($item in $vector.elements())
       <li>$item</li>
        #end
    </ul>
  <hr>
  <h1>全局的用#</h1>
#man
    <h1>忽略指令</h1>
    <h1>#include("abc.txt")</h1>
  <br>
    "#include("abc.txt")
   <br>
    "" #include("abc.txt")
  <br>
  \#include("abc.txt")
  ##include被引入文件的内容将不会通过模板引擎解析；而#parse引入的文件内容Velocity
  ## 将解析其中的velocity语法并移交给模板
  ## Velocity内置了一些对象，在vm模版里可以直接调用，列举如下：
     ## $request、$response、$session，
    <br>
    #sayHello("吴培基")
    <hr>
  #set($ref=[1..7])
    #countDown($ref)
    <form action="#" method="get">
    <input type="button" value="提交">
    </form>
    <h2>名字:${people}</h2>
    </body>
</html>